# IntelliJ
.idea
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings

# Build files
bin/
gen/
build/
out/
lib/
libs/
target/
*.class
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Gradle files
.gradle/

# Avoid ignoring Gradle wrapper
!gradle-wrapper.properties
!gradle-wrapper.jar
